*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
apps/logs/encrypt/msg_*
apps/logs/decrypt/dec_*
apps/logs/decrypt/msg
apps/logs/decrypt/msg_*
files/2014/article/*
files/2014/article/*.jpg
*.DS_Store
