#RewriteBase /doonee.tv/
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(ci2\.php|images|robots\.txt)
RewriteRule ^(.*)$ /ci2.php/$1 [L]

#RewriteRule ^backoffice/([css|js|img]+.*) /assets/backoffice/$1 [L]