#RewriteBase /doonee.tv/
RewriteEngine on
DirectoryIndex index.html index.php ci2.php

RewriteCond %{HTTP_HOST} ^doonee.tv
RewriteRule (.*) http://www.doonee.tv/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/assets/files
RewriteRule . /files/movies-default.jpg [L]


RewriteRule ^assets/files/(.*) /files/$1 [L]
RewriteRule ^backoffice/(js|css|img)/(.*) /assets/backoffice/$1/$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(ci2\.php|images|robots\.txt)
RewriteRule ^(.*)$ /ci2.php/$1 [L]
